networks:
  frontend:
    name: frontend
    external: true

volumes:
  changedetection-data:
    external: true
    name: "changedetection-data"

services:
  changedetection:
    image: dgtlmoon/changedetection.io:latest
    container_name: changedetection
    hostname: changedetection
    environment:
      - BASE_URL=http://${SERVICE}.${DOMAIN}
      - PLAYWRIGHT_DRIVER_URL=ws://browser-chrome:3000/?stealth=1&--disable-web-security=true
      - HIDE_REFERER=true
    links:
      - browser-chrome
    volumes:
      - changedetection-data:/datastore
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "5000:5000"
    restart: unless-stopped
    networks:
      - frontend
    depends_on:
      browser-chrome:
        condition: service_started
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.${SERVICE}.loadbalancer.server.port=5000"
      - "traefik.http.routers.${SERVICE}.rule=Host(`${SERVICE}.${DOMAIN}`)"
      - "traefik.http.routers.${SERVICE}.entrypoints=web"
      - "traefik.http.routers.${SERVICE}.middlewares=crowdsec-check,ssl-header"

  browser-chrome:
    hostname: browser-chrome
    container_name: browser-chrome
    image: browserless/chrome:latest
    environment:
      - SCREEN_WIDTH=1920
      - SCREEN_HEIGHT=1024
      - SCREEN_DEPTH=16
      - CONNECTION_TIMEOUT=300000
      - MAX_CONCURRENT_SESSIONS=5
      - FETCH_WORKERS=5
    ports:
      - "3000:3000"
    shm_size: "2g"
    networks:
      - frontend
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    volumes:
      - /dev/shm:/dev/shm
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
